body{
    height: 100%;
}
p {
    color: blue;
}
/*me*/
h1 {color: rebeccapurple;
font-family: "Dancing Script",cursive;text-align: center;
background-color: white;
   }
h2 {
    font-family: "Dancing Script",cursive;text-align: center; color: rebeccapurple;
    margin-bottom: 5%;
    padding: 1%;
    background-color: rgb(247, 235, 243); 

}
h4{
    font-family: 'Times New Roman', Times, serif,cursive; text-align: start; color: rebeccapurple;
    text-align: center;

}
.maintext{
    color: rgb(106, 35, 168)
}
.mainstory {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2%;
    margin-bottom: 2%;
}
.alsacepng{
   animation: swing 2s infinite ease-in-out;
   transform-origin: center center;
   display: inline-block;
}
@keyframes swing{
    0%   { transform: rotate(0deg); }
  25%  { transform: rotate(10deg); }
  50%  { transform: rotate(0deg); }
  75%  { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }

}
@media (max-width: 768px) {
    .mainstory {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem;
    }
.conteneur{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    justify-content:  space-between;
    justify-items: center;
   gap: 10px;
}
.button{
    align-self:center ;
    height: 1rem;
    width: 8rem;
    background: rgb(249, 188, 239);
    color: black;
    font-size: 1rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    transition-property: transform;
    transition-duration: 1000ms;
    &:hover {
        transform: scale(1.15);
    }

}
.accuiel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.box{
    align-content: center;
    justify-content: center;
    background-color: white;
    padding: 1%;
}
.box1{
    width: 100%;
    height: 100%;
    background-color: white;
    align-content: center;
    justify-content: center;
    border-radius: 1rem;
}
.bienvenue{
    font-family: "Dancing Script",cursive;text-align: center; color: rebeccapurple;
    margin-bottom: 5%;
    padding: 1%;
    background-color: rgb(247, 235, 243); 
}
.accueil{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: space-between;
    
}
.fin{
    color: black;
    margin-top: 5%;
    background-color: rgb(247, 235, 243); 
    padding: 1%;
}

.findepage{
    color: black;
    display:  flex;
    justify-content: center;
    align-content: center;
}

.bon{
    font-family: "Dancing Script",cursive;text-align: center; color: rebeccapurple;
}
.story{
    width: 600 px;
    background-color: white;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    padding: 2%;
}
.storyimg{
    background-color: white;
    padding: 1%;
     align-content: center; align-items: center;

}
.findepage{

    background-color: white;
}
