p {
    color: blue;
}
/*me*/
h1 {color: rebeccapurple;}
.strasbourg{
    color: black;
}
.colmar{
    color: blueviolet;
}
.equisheim{
    color: khaki;
}
#logo{/*indiqueprioriter*/}
.grand-text{
    font-size: 20px;
}
h2 {font-family: "Dancing Script",cursive}
h1 {font-family: "Dancing Script",cursive;text-align: center;}
.conteneur{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
   gap: 10px;
}
.bienvenue{
    font-family: "Dancing Script",cursive;text-align: center; color: rebeccapurple;
    margin-bottom: 5%;
    padding: 1%;
    background-color: rgb(247, 235, 243); 
}
main{
    background-color: none;
    background-image: image();
}
.fin{
    color: black;
    margin-top: 5%;
}
.bon{
    font-family: "Dancing Script",cursive;text-align: center; color: rebeccapurple;
}
