p {
    color: blue;
}
/*me*/
h1 {color: rebeccapurple;}
.strasbourg{
    color: black;
}
.colmar{
    color: blueviolet;
}
.equisheim{
    color: khaki;
}
#logo{/*indiqueprioriter*/}
.grand-text{
    font-size: 20px;
}
h2 {font-family: "Dancing Script",cursive}
h1 {font-family: "Dancing Script",cursive;text-align: center;}